.page {
  width: 100%;
  min-height: 100vh;
}


.page-enter-active {
  animation: fade-in 500ms forwards linear;
  position: fixed;
}

.page-exit-active {
  animation: fade-out 500ms forwards linear;
  position: fixed;
}

.page-up-enter-active {
  animation: fade-up-in 500ms forwards linear;
  position: fixed;
}

.page-up-exit-active {
  animation: fade-up-out 500ms forwards linear;
  position: fixed;
}

@keyframes fade-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes fade-up-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-up-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
