.loader {
  width: 100%;
  position: fixed;
  top: 10px;
  display: flex;
  justify-content: center;
  z-index: 99999;
  &__content {
    width: 80%;
  }
}


.alert {
  width: 100%;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: center;
  z-index: 99999;

  &__content {
    width: fit-content;
    min-width: 200px;
  }
}
